.container
  .row.vh-100.align-items-center.justify-content-center
    .col-auto
      %h1.h2.text-center Calcular inversion en criptomonedas
      .card
        .card-header
          = form_tag "#", method: :get do
            .row
              .col-8
                .input-group
                  %span.input-group-text $
                  = text_field_tag :balance_to_invest, params[:balance_to_invest], class: "form-control", placeholder: "Ingresa la cantidad de $ a invertir"
                  %span.input-group-text USD
              .col-4
                = submit_tag "Consultar", class: "btn btn-success w-100"
        .card-body.p-0
          = render("visitor/shared/investment_table")